.coming-soon-slider {
  background: #eef6fb;

  padding: 60px 20px;
  padding-top: 21px;
  text-align: center;
}

.coming-soon-slider .title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #0056a5;
}

.desc {
  font-size: 1rem;
  color: #333;
  margin-bottom: 40px;
}

.slider-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.shop-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #9a87e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

.swiper-button-prev, .swiper-button-next {
 color:#0056a5 !important;
}

.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  min-height: 327px;
}

.slider-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.slider-description {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
.slider-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 8px;
}