.footer {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  background: linear-gradient(to right, #1c7dc1, #1d4967);
  color: white;
}

.footer-subtitle {
  font-size: 0.9rem;
  margin-bottom: 10px;
  opacity: 0.9;
}

.footer-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
}

.footer-description {
  margin-top: 12px;
  font-size: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  flex-wrap: wrap;
  text-align: left;
  padding: 0 20px;
}

.footer-bottom > div {
  flex: 1; /* Her çocuk div eşit yer kaplar */
  min-width: 200px; /* Mobilde alt alta düşmemesi için */
  padding: 10px; /* Araya boşluk efekti vermek için */
  box-sizing: border-box;
}

/* .contact-info {
  margin-left: 15%;
} */

.contact-info,
.about-company {
  flex: 1;
  min-width: 250px;
}

.contact-info p,
.about-company p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-company p {
  margin:0px;
}

.contact-info p {
  margin-top: 0px;
}

.contact-info a {
  color: #fff;
  text-decoration: none !important;
}

.about-company h4 {
  margin-bottom: 4px;
  margin-top: 0px;
  font-weight: bold;
}

.social-icons {

  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icons a {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 6px;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.social-icons a:hover {
  background: rgba(255, 255, 255, 0.4);
}



.title{
  margin:0px;
  text-decoration: underline;
}

.categories-list{
  padding-left: 11px;
  margin-top: 4px;
}

.categories-list li{
line-height: 20px;
}

.social-icons-container p{
  text-align: center;
  margin: 0px 0px 8px 0px;
}